{% load staticfiles %}
<head>
    <title>INsTA PoLL</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<h1>Choose Any Question to vote for your answer...</h1>
<div class="navbar">
    <li><a href="{% url 'polls:index' %}">Go back to the homepage...</a></li>
    <li><a href="{% url 'polls:about_me' %}">About Me</a></li>
</div>

{% if question_list %}
    <ul>
        {% for question in question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available..</p>
{% endif %}

{% if user.is_authenticated %}
    <p>Seems you're already on {{ user.username }} </p>
    <a href="{% url 'logout' %}">LOGOUT</a>
{% else %}
    <p>Seems you're OFF! </p>
    <a href="{% url 'login' %}">LOGIN</a>
{% endif %}

<div id="footer">
    <p>Copyright &copy; Nishan Poudel 2019</p>
</div>
